import React from 'react';

interface {{pascalCase name}}Props {
  // props here
}

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <div className="p-4 bg-white rounded shadow">
      {/* component content */}
    </div>
  );
} 