.swiper-button-next,
.swiper-button-prev {
  color: var(--color-neutral-70);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background: var(--color-neutral-70);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary-500);
}
