@layer components {
  .button {
    background-color: var(--color-primary-500);
    color: var(--color-neutral-100);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    transition:
      background-color 0.2s,
      box-shadow 0.2s;
  }

  .button:hover {
    box-shadow: var(--shadow-md);
  }
}
