@layer base {
  :root {
    --color-primary-100: #d8cfff;
    --color-primary-500: #7251f8;
    --color-neutral-100: #f4f4f7;
    --color-neutral-900: #1f1f1f;
    --color-bg: #ffffff;
    --color-text: #1f1f1f;
  }

  [data-theme='dark'] {
    --color-primary-100: #3c2c78;
    --color-primary-500: #9b84ff;
    --color-neutral-100: #1f1f1f;
    --color-neutral-900: #f4f4f7;
    --color-bg: #121212;
    --color-text: #f4f4f7;
  }
}
